This analysis consideres the variable ZSMHC which is the monthly housing cost. First, the correlation between ZSMHC and the other numerical variables is calculated. The correlation between among these variable is also considered. Below are the results from the 1985 data:

> BURDEN (cost to income ratio) and NUNIT(number of units in building) are not very correlated with ZSMHC.

> All other variables have a correlation of at least 0.12. Question: What cutoff in correlation says if a variable can be discarded in a predictive model or no

> TOTSAL (total wage and salary income) and ZINC2 (household income) have a 0.87 correlation. Thus one of these can be dropped in a predictive model.
> TOTSAL and INCRELAMIPCT (income relative to area median income (percent)) have a correlation of 0.78. Thus one of these can be dropped in a predictive model.

> COSTMED (Housing cost assuming median interest mortgage) and COSTMEDRELAMIPCT (COSTMED relative to median income (percent)) have a 0.93 correlation. Thus one of these can be dropped in a predictive model.

> LMED (area median imcome) and FMR (fair market rent) has a 0.59 correlation.

Similar conclusions are reached for 2013 data.

Next, the variability (error) in the correlations with ZSMHC is considered by taken a random choice of the data and calculating the correlations for each choice. This is repeated 10,000 times and the average and standard deviation is calculated for each correlation. The observed correlations are close and well within one standard deviation from the average correlations for the years considered, 1985 and 2013.

Finally, differences in the ZSMHC is considered between 2 groups. The obervated differences are statistically significant as the p-value is numerically zero. The p-value is calculated using both a bootstrap approach and the t-test function provided in the scipy package. Below are the conclusions reached:

> On average, owners pay $80 more that renters in 1985. Assuming that costs for owners and renters have the same distribtution, the p-value for this observation is less than 1 part in 10,000. Therefore, this observation is statistically significant. Using the built in t-test function, a practically zero p-value is calculated.

> For 2013, owners on average pay $438 more monthly than renters. Using t-test function, the obverved p-value is numerically zero for difference in owner and renter costs in 2013. Therefore the observed difference is statistically significant.

> On average, not assisted households paid $197 more than assisted households in 1985. This observed difference is statistically significant as the p-value is practically zero using bootstrap and t-statistic methods.

> On average, not assisted households paid $793 more than assisted households in 2013. This observed difference is statistically significant as the p-value is practically zero using bootstrap and t-statistic methods.

> Single family homes paid one average $72 more than apartment units in 1985. The p-value is zero.

> Single family homes paid one average $418 more than apartment units in 2013. The p-value is zero.

> In 1985, the lowest income group paid on average $195 less than other income groups and the highest income group paid on average $232 more than other income groups. The p-values are zero.

> In 2013, the lowest income group paid on average $636 less than other income groups and the highest income group paid on average $744 more than other income groups. The p-values are zero.

In [67]:
import numpy as np
import pandas as pd
import seaborn as sns
_ = sns.set_style("darkgrid")
import matplotlib.pyplot as plt
from scipy import stats
np.random.seed(42)
pd.set_option('display.max_rows', None)
df85 = pd.read_csv("85_clean.csv", index_col = 'CONTROL')
df87 = pd.read_csv("87_clean.csv", index_col = 'CONTROL')
df89 = pd.read_csv("89_clean.csv", index_col = 'CONTROL')
df91 = pd.read_csv("91_clean.csv", index_col = 'CONTROL')
df93 = pd.read_csv("93_clean.csv", index_col = 'CONTROL')
df95 = pd.read_csv("95_clean.csv", index_col = 'CONTROL')
df97 = pd.read_csv("97_clean.csv", index_col = 'CONTROL')
df99 = pd.read_csv("99_clean.csv", index_col = 'CONTROL')
df01 = pd.read_csv("01_clean.csv", index_col = 'CONTROL')
df03 = pd.read_csv("03_clean.csv", index_col = 'CONTROL')
df05 = pd.read_csv("05_clean.csv", index_col = 'CONTROL')
df07 = pd.read_csv("07_clean.csv", index_col = 'CONTROL')
df09 = pd.read_csv("09_clean.csv", index_col = 'CONTROL')
df11 = pd.read_csv("11_clean.csv", index_col = 'CONTROL')
df13 = pd.read_csv("13_clean.csv", index_col = 'CONTROL')

In [68]:
# define a dictionary of dataframes, the key is the year of dataframe
df_dict = {'1985':df85, '1987':df87, '1989':df89, '1991':df91, '1993':df93, '1995': df95, '1997':df97, '1999':df99,\
          '2001':df01, '2003':df03, '2005':df05, '2007':df07, '2009':df09, '2011':df11, '2013':df13\
          }

In [69]:
pd.set_option('display.max_columns', None)
df85.head()

,AGE,BEDRMS,FMTBUILT,BURDEN,COSTMED,COSTMEDRELAMIPCT,FMTCOSTMEDRELAMICAT,FMR,FMTASSISTED,FMTOWNRENT,FMTSTATUS,FMTSTRUCTURETYPE,FMTINCRELAMICAT,INCRELAMIPCT,IPOV,LMED,NUNITS,OTHERCOST,PER,ROOMS,TOTSAL,UTILITY,VALUE,ZINC2,ZSMHC
CONTROL,,,,,,,,,,,,,,,,,,,,,,,,,
'100006110249',39.0,3.0,'1980-1989',0.317333,476.000000,81.283131,'4 60 - 80% AMI',380.0,'0 Not Assisted','2 Renter','1 Occupied','1 Single Family','4 60 - 80% AMI',79.917028,10720.0,23560.0,1.0,6.25,4.0,5.0,18000.0,40.000000,NaN,18000.0,476.0
'100007130148',40.0,2.0,'1980-1989',0.323662,383.000000,60.305059,'4 60 - 80% AMI',349.0,'0 Not Assisted','2 Renter','1 Occupied','3 5-19 units','3 50 - 60% AMI',55.896334,8516.0,29526.0,10.0,0.00,3.0,4.0,13000.0,8.000000,NaN,14200.0,383.0
'100014110140',19.0,2.0,'1980-1989',0.318000,371.000000,73.207945,'4 60 - 80% AMI',289.0,'0 Not Assisted','2 Renter','1 Occupied','2 2-4 units','4 60 - 80% AMI',77.697111,7077.0,23560.0,2.0,0.00,2.0,4.0,14000.0,15.750000,NaN,14000.0,371.0
'100014350142',28.0,3.0,'1980-1989',0.277371,1496.349020,178.071751,'7 120% AMI +',596.0,'0 Not Assisted','1 Owner','1 Occupied','1 Single Family','7 120% AMI +',120.326424,8508.0,33807.0,1.0,25.00,3.0,6.0,35000.0,34.166667,160000.0,35000.0,809.0
'100015770147',30.0,3.0,'1980-1989',0.205429,726.679228,97.552691,'5 80 - 100% AMI',453.0,'0 Not Assisted','1 Owner','1 Occupied','1 Single Family','7 120% AMI +',183.243745,7077.0,29969.0,1.0,13.00,2.0,5.0,42000.0,40.000000,75000.0,42000.0,719.0

In [70]:
df85 = df_dict['1985']
corrMatrix85 = df85.corr()
print('Correlation of ZSMHC and other variables')
print(corrMatrix85['ZSMHC'])
print('\n')
print('Correlation TOTSAL and ZINC2 = ', corrMatrix85['TOTSAL']['ZINC2'])
print('Correlation TOTSAL and INCRELAMIPCT = ', corrMatrix85['TOTSAL']['INCRELAMIPCT'])
print('Correlation COSTMED and COSTMEDRELAMIPCT = ', corrMatrix85['COSTMED']['COSTMEDRELAMIPCT'])
print('Correlation LMED and IPOV = ', corrMatrix85['LMED']['IPOV'])
print('Correlation LMED and FMR = ', corrMatrix85['LMED']['FMR'])

Correlation of ZSMHC and other variables
AGE                -0.279346
BEDRMS              0.265755
BURDEN             -0.019433
COSTMED             0.573303
COSTMEDRELAMIPCT    0.500281
FMR                 0.403618
INCRELAMIPCT        0.421278
IPOV                0.249952
LMED                0.261523
NUNITS             -0.027509
OTHERCOST           0.123290
PER                 0.243375
ROOMS               0.312205
TOTSAL              0.509902
UTILITY             0.189642
VALUE               0.510702
ZINC2               0.510412
ZSMHC               1.000000
Name: ZSMHC, dtype: float64


Correlation TOTSAL and ZINC2 =  0.8673205338940415
Correlation TOTSAL and INCRELAMIPCT =  0.785194333665615
Correlation COSTMED and COSTMEDRELAMIPCT =  0.9294833047321089
Correlation LMED and IPOV =  0.02571880477091692
Correlation LMED and FMR =  0.5920537288405691

Above is the correlation between ZSMHC (monthly housing costs) and other variables. BURDEN (cost to income ratio) and NUNIT(number of units in building) are not very correlated with ZSMHC.

All other variables have a correlation of at least 0.12. Question: What cutoff in correlation says if a variable can be discarded in a predictive model or not?

TOTSAL (total wage and salary income) and ZINC2 (household income) have a 0.87 correlation. Thus one of these can be dropped in a predictive model.

TOTSAL and INCRELAMIPCT (income relative to area median income (percent)) have a correlation of 0.78. Thus one of these can be dropped in a predictive model.

COSTMED (Housing cost assuming median interest mortgage) and COSTMEDRELAMIPCT (COSTMED relative to median income (percent)) have a 0.93 correlation. Thus one of these can be dropped in a predictive model.

LMED (area median imcome) and FMR (fair market rent) has a 0.59 correlation.

In [71]:
df13 = df_dict['2013']
corrMatrix13 = df13.corr()
print('Correlation of ZSMHC and other variables')
print(corrMatrix13['ZSMHC'])
print('\n')
print('Correlation TOTSAL and ZINC2 = ', corrMatrix13['TOTSAL']['ZINC2'])
print('Correlation TOTSAL and INCRELAMIPCT = ', corrMatrix13['TOTSAL']['INCRELAMIPCT'])
print('Correlation COSTMED and COSTMEDRELAMIPCT = ', corrMatrix13['COSTMED']['COSTMEDRELAMIPCT'])
print('Correlation LMED and IPOV = ', corrMatrix13['LMED']['IPOV'])
print('Correlation LMED and FMR = ', corrMatrix13['LMED']['FMR'])

Correlation of ZSMHC and other variables
AGE                -0.119497
BEDRMS              0.335647
BURDEN             -0.042202
COSTMED             0.686327
COSTMEDRELAMIPCT    0.636117
FMR                 0.457541
INCRELAMIPCT        0.416430
IPOV                0.246544
LMED                0.268095
NUNITS             -0.061461
OTHERCOST           0.324069
PER                 0.246204
ROOMS               0.384550
TOTSAL              0.471562
UTILITY             0.406473
VALUE               0.588339
ZINC2               0.494621
ZSMHC               1.000000
Name: ZSMHC, dtype: float64


Correlation TOTSAL and ZINC2 =  0.8302903647707541
Correlation TOTSAL and INCRELAMIPCT =  0.7606053010616535
Correlation COSTMED and COSTMEDRELAMIPCT =  0.9395900295219688
Correlation LMED and IPOV =  0.03300679430126276
Correlation LMED and FMR =  0.5394347850666483

We can arrive at similar conclusions for correlation of ZSMHC in year 2013 as year 1985

In [72]:
mCost85 = df_dict['1985']['ZSMHC']
mCost13 = df_dict['2013']['ZSMHC']
mCostStats85 = mCost85.describe()
mCostStats13 = mCost13.describe()

In [73]:
print(mCostStats85)
print(mCostStats13)
print(mCost85.shape)
print(mCost13.shape)

count    40880.000000
mean       412.541096
std        308.968155
min          0.000000
25%        209.000000
50%        345.000000
75%        527.000000
max       4609.000000
Name: ZSMHC, dtype: float64
count    60097.000000
mean      1140.454116
std        972.485825
min          0.000000
25%        510.000000
50%        899.000000
75%       1454.000000
max      10667.000000
Name: ZSMHC, dtype: float64
(43104,)
(60097,)

In [74]:
# define function that takes a random choice of index array; calculate the correlation matrix of data selected from index array
def bootstrap_corr_replicate_df(df, index_array):
    bs_sample = np.random.choice(index_array, len(index_array))
    df_sample = df.iloc[bs_sample]
    return df_sample.corr()

In [75]:
length_85 = df85.shape[0]
index_array = np.arange(0,length_85)
# take 10,000 choices of array index; for each choice calculation correlation matrix
num_of_perms = 10000
new_matrix = np.stack([ bootstrap_corr_replicate_df(df85, index_array) for i in range(num_of_perms)], axis=2)

# calculate average and error of each entry in correlation matrix
avg_corr_85 = np.mean(new_matrix, axis=2)
std_corr_85 = np.std(new_matrix, axis=2)

In [76]:
#print results for monthly housing cost variable.
length = avg_corr_85.shape[0]
columnLabels = corrMatrix85.columns
print("Correlation statistics for variable Monthly Housing Cost ZSMHC in 1985:")
print("\n")
print("%20s \t %20s \t %20s \t %20s" % ('variable', 'obs corr', 'avg corr', 'error corr'))
for columnLabel, i in zip(columnLabels, range(length)):
    print("%20s \t %20.6f \t %20.6f \t %20.6f" % (columnLabel, corrMatrix85.iloc[i, length-1], \
                                   avg_corr_85[i, length-1], std_corr_85[i, length-1]))

Correlation statistics for variable Monthly Housing Cost ZSMHC in 1985:


            variable 	             obs corr 	             avg corr 	           error corr
                 AGE 	            -0.279346 	            -0.279320 	             0.003984
              BEDRMS 	             0.265755 	             0.265696 	             0.004764
              BURDEN 	            -0.019433 	            -0.019418 	             0.004009
             COSTMED 	             0.573303 	             0.573381 	             0.005379
    COSTMEDRELAMIPCT 	             0.500281 	             0.500395 	             0.005957
                 FMR 	             0.403618 	             0.403644 	             0.004964
        INCRELAMIPCT 	             0.421278 	             0.421289 	             0.006215
                IPOV 	             0.249952 	             0.249903 	             0.004792
                LMED 	             0.261523 	             0.261547 	             0.004820
              NUNITS 	            -0.027509 	            -0.027535 	             0.004321
           OTHERCOST 	             0.123290 	             0.124044 	             0.009284
                 PER 	             0.243375 	             0.243322 	             0.004749
               ROOMS 	             0.312205 	             0.312111 	             0.004957
              TOTSAL 	             0.509902 	             0.509874 	             0.005732
             UTILITY 	             0.189642 	             0.189627 	             0.005392
               VALUE 	             0.510702 	             0.510780 	             0.006707
               ZINC2 	             0.510412 	             0.510398 	             0.005797
               ZSMHC 	             1.000000 	             1.000000 	             0.000000

For 1985 data, the observed correlation is close to the average and within the calculated error.

In [77]:
length_13 = df13.shape[0]
index_array = np.arange(0,length_13)
# take 10,000 choices of array index; for each choice calculation correlation matrix
num_of_perms = 10000
new_matrix = np.stack([ bootstrap_corr_replicate_df(df13, index_array) for i in range(num_of_perms)], axis=2)

# calculate average and error of each entry in correlation matrix
avg_corr_13 = np.mean(new_matrix, axis=2)
std_corr_13 = np.std(new_matrix, axis=2)

#print results for monthly housing cost variable.
length = avg_corr_13.shape[0]
columnLabels = corrMatrix13.columns
print("Correlation statistics for variable Monthly Housing Cost ZSMHC in 2013:")
print("\n")
print("%20s \t %20s \t %20s \t %20s" % ('variable', 'obs corr', 'avg corr', 'error corr'))
for columnLabel, i in zip(columnLabels, range(length)):
    print("%20s \t %20.6f \t %20.6f \t %20.6f" % (columnLabel, corrMatrix13.iloc[i, length-1], \
                                   avg_corr_13[i, length-1], std_corr_13[i, length-1]))

Correlation statistics for variable Monthly Housing Cost ZSMHC in 2013:


            variable 	             obs corr 	             avg corr 	           error corr
                 AGE 	            -0.119497 	            -0.119503 	             0.003745
              BEDRMS 	             0.335647 	             0.335708 	             0.004153
              BURDEN 	            -0.042202 	            -0.042272 	             0.003890
             COSTMED 	             0.686327 	             0.686327 	             0.005670
    COSTMEDRELAMIPCT 	             0.636117 	             0.636159 	             0.006677
                 FMR 	             0.457541 	             0.457586 	             0.004092
        INCRELAMIPCT 	             0.416430 	             0.416484 	             0.005640
                IPOV 	             0.246544 	             0.246593 	             0.004205
                LMED 	             0.268095 	             0.268120 	             0.004352
              NUNITS 	            -0.061461 	            -0.061504 	             0.004803
           OTHERCOST 	             0.324069 	             0.324433 	             0.005486
                 PER 	             0.246204 	             0.246265 	             0.004128
               ROOMS 	             0.384550 	             0.384612 	             0.004420
              TOTSAL 	             0.471562 	             0.471609 	             0.005445
             UTILITY 	             0.406473 	             0.406501 	             0.004760
               VALUE 	             0.588339 	             0.588321 	             0.007511
               ZINC2 	             0.494621 	             0.494687 	             0.005413
               ZSMHC 	             1.000000 	             1.000000 	             0.000000

For 2013 data, the observed correlation is close to the average and within the calculated error as well.

In [78]:
# generate permutation of input data and calculate difference in statistic for permutation
def bootstrap_perms(concatenate_data, func, size_group_A):
    """Generate permutations. Calculate statistic of each group. Return difference"""
    perm = np.random.permutation(concatenate_data)
    group_A = perm[:size_group_A]
    group_B = perm[size_group_A:]
    return func(group_A) - func(group_B)

In [85]:
# this function compares two groups defined by a categorical variable;
# p-value is calculated for the difference in average of the 2 groups;
# both bootstrap and t-statistic are used to calculate p-value
def cost_compare(year, variable, catName, catLabel1):
    """Calculate statistical significance for a given numerical variable split between 2 catogory values for a given year"""
    df = df_dict[year]
    df = df.loc[~df[variable].isna()]
    CostGroup1     = df.loc[df[catName].str.contains(catLabel1), variable].values
    CostGroup2     = df.loc[~df[catName].str.contains(catLabel1), variable].values
    
    avgGroup1Cost = np.mean(CostGroup1)
    avgGroup2Cost = np.mean(CostGroup2)

    length_Group1 = len(CostGroup1)
    length_Group2 = len(CostGroup2)

    cost_concatenate = np.concatenate((CostGroup1, CostGroup2))

    obs_diff = avgGroup2Cost - avgGroup1Cost
    
    # take 10000 permutations of data
    num_of_perms = 10000
    bs_perms = np.empty(num_of_perms)
    
    for i in range(num_of_perms):
        bs_perms[i] = bootstrap_perms(cost_concatenate, np.mean, length_Group1)

    # take permutations of data, calculate difference in median value
    print('group 1 count = ', length_Group1)
    print('group 2 count = '  , length_Group2)
    print(year, ' average group 1 cost = ', avgGroup1Cost)
    print(year, ' average group 2 cost = ', avgGroup2Cost)
    
    print('observed difference = ', obs_diff)
    
    # calculate 95% confidence interval
    conf_int = np.percentile(bs_perms, [2.5, 97.5])
    # calculate mean diff
    mean_diff = np.mean(bs_perms)
    # calculate diff error
    std_diff = np.std(bs_perms)   
    
    print('95% confidence interval = '   , conf_int)
    print('mean diff = '                 , mean_diff)
    print('error diff = ', std_diff)
    
    if obs_diff >= 0:
        p_value = np.sum(bs_perms >= obs_diff)/len(bs_perms)
    else:
        p_value = np.sum(bs_perms <= obs_diff)/len(bs_perms)
    print('p value = ', p_value)
    
    # calculate p-value using stats ttest function
    result_eqVar = stats.ttest_ind(CostGroup1, CostGroup2, equal_var=True)
    result_neqVar= stats.ttest_ind(CostGroup1, CostGroup2, equal_var=False)
    print(result_eqVar)
    print(result_neqVar)

In [80]:
cost_compare('1985', 'ZSMHC', 'FMTOWNRENT', 'Renter')

group 1 count =  15440
group 2 count =  25440
1985  average group 1 cost =  362.3152849740933
1985  average group 2 cost =  443.0240566037736
observed difference =  80.70877162968031
95% confidence interval =  [-6.10202957  6.13509253]
mean diff =  -0.012688716394564608
error diff =  3.1793800822109017
p value =  0.0
Ttest_indResult(statistic=-25.813056945546943, pvalue=9.360232887758403e-146)
Ttest_indResult(statistic=-29.392726426918927, pvalue=6.390030604899263e-188)

On average, owners pay $80 more that renters in 1985. Assuming that costs for owners and renters have the same distribtution, the p-value for this observation is less than 1 part in 10,000. Therefore, this observation is statistically significant.

Using the built in t-test function, a practically zero p-value is calculated.

In [81]:
cost_compare('2013', 'ZSMHC', 'FMTOWNRENT', 'Renter')

group 1 count =  24245
group 2 count =  35852
2013  average group 1 cost =  878.6925551660136
2013  average group 2 cost =  1317.4709918554056
observed difference =  438.77843668939204
95% confidence interval =  [-15.46677189  15.77581196]
mean diff =  0.22725370035291056
error diff =  8.00267349092638
p value =  0.0
Ttest_indResult(statistic=-55.64275417533507, pvalue=0.0)
Ttest_indResult(statistic=-59.97411333035855, pvalue=0.0)

For 2013, owners on average pay $438 more monthly than renters. Using t-test function, the obverved p-value is numerically zero for difference in owner and renter costs in 2013. Therefore the observed difference is statistically significant.

In [82]:
#calculate difference in monthly housing costs for not assisted and assisted households
cost_compare('1985', 'ZSMHC', 'FMTASSISTED', '1')

group 1 count =  2177
group 2 count =  38703
1985  average group 1 cost =  226.44005512172714
1985  average group 2 cost =  423.0090690644136
observed difference =  196.56901394268647
95% confidence interval =  [-13.28838987  13.86045682]
mean diff =  -0.005994590015330846
error diff =  6.874512671495642
p value =  0.0
Ttest_indResult(statistic=-29.182294593165587, pvalue=2.610549096206916e-185)
Ttest_indResult(statistic=-56.282978726305956, pvalue=0.0)

On average, not assisted households paid $197 more than assisted households in 1985. This observed difference is statistically significant as the p-value is practically zero using bootstrap and t-statistic methods.

In [83]:
cost_compare('2013', 'ZSMHC', 'FMTASSISTED', '1')

group 1 count =  6618
group 2 count =  53479
2013  average group 1 cost =  434.86944696282865
2013  average group 2 cost =  1227.769872286318
observed difference =  792.9004253234895
95% confidence interval =  [-24.38618172  24.58421713]
mean diff =  0.059865136897658225
error diff =  12.623919826459545
p value =  0.0
Ttest_indResult(statistic=-64.71251826659389, pvalue=0.0)
Ttest_indResult(statistic=-123.39920731870524, pvalue=0.0)

On average, not assisted households paid $793 more than assisted households in 2013. This observed difference is statistically significant as the p-value is practically zero using bootstrap and t-statistic methods.

In [86]:
cost_compare('1985', 'ZSMHC', 'FMTSTRUCTURETYPE', 'Single Family')

group 1 count =  27187
group 2 count =  13693
1985  average group 1 cost =  436.61231470923605
1985  average group 2 cost =  364.74848462718177
observed difference =  -71.86383008205428
95% confidence interval =  [-6.28964493  6.27075195]
mean diff =  -0.018069116963587976
error diff =  3.208177693482103
p value =  0.0
Ttest_indResult(statistic=22.33051219600722, pvalue=8.492971175076504e-110)
Ttest_indResult(statistic=25.803503905317434, pvalue=1.3575216647842347e-145)

Single family homes paid one average $72 more than apartment units in 1985. The p-value is zero.

In [87]:
cost_compare('2013', 'ZSMHC', 'FMTSTRUCTURETYPE', 'Single Family')

group 1 count =  39376
group 2 count =  20721
2013  average group 1 cost =  1284.4135514018692
2013  average group 2 cost =  866.8888084551904
observed difference =  -417.52474294667877
95% confidence interval =  [-16.79176174  16.40443911]
mean diff =  -0.07946351086088296
error diff =  8.40181022268834
p value =  0.0
Ttest_indResult(statistic=51.100649206344514, pvalue=0.0)
Ttest_indResult(statistic=55.41694354751952, pvalue=0.0)

Single family homes paid one average $418 more than apartment units in 2013. The p-value is zero.

In [88]:
df85 = df_dict['1985']
df85['FMTINCRELAMICAT'].value_counts()

'7 120% AMI +'        14961
'1 LTE 30% AMI'        6105
'2 30 - 50% AMI'       5273
'5 80 - 100% AMI'      5103
'4 60 - 80% AMI'       4644
'6 100 - 120% AMI'     4385
'3 50 - 60% AMI'       2633
Name: FMTINCRELAMICAT, dtype: int64

In [89]:
df13 = df_dict['2013']
df13['FMTINCRELAMICAT'].value_counts()

'7 120% AMI +'        19998
'1 LTE 30% AMI'       12380
'2 30 - 50% AMI'       8279
'4 60 - 80% AMI'       5778
'5 80 - 100% AMI'      5118
'6 100 - 120% AMI'     4890
'3 50 - 60% AMI'       3654
Name: FMTINCRELAMICAT, dtype: int64

In [90]:
cost_compare('1985', 'ZSMHC', 'FMTINCRELAMICAT', 'LTE')

group 1 count =  5950
group 2 count =  34930
1985  average group 1 cost =  245.7526050420168
1985  average group 2 cost =  440.95196106498713
observed difference =  195.19935602297033
95% confidence interval =  [-8.38094643  8.41971203]
mean diff =  0.0175276617099748
error diff =  4.335945319512112
p value =  0.0
Ttest_indResult(statistic=-46.208051686606495, pvalue=0.0)
Ttest_indResult(statistic=-70.07680220620875, pvalue=0.0)

In [92]:
cost_compare('1985', 'ZSMHC', 'FMTINCRELAMICAT', '7')

group 1 count =  13818
group 2 count =  27062
1985  average group 1 cost =  566.3554059921842
1985  average group 2 cost =  334.00269750942283
observed difference =  -232.35270848276133
95% confidence interval =  [-6.20868422  6.33681444]
mean diff =  -0.012874243743793245
error diff =  3.2077596177538013
p value =  0.0
Ttest_indResult(statistic=76.9585302757938, pvalue=0.0)
Ttest_indResult(statistic=65.50358493154239, pvalue=0.0)

In 1985, the lowest income group paid on average $195 less than other income groups and the highest income group paid on average $232 more than other income groups. The p-values are zero.

In [93]:
cost_compare('2013', 'ZSMHC', 'FMTINCRELAMICAT', 'LTE')

group 1 count =  12380
group 2 count =  47717
2013  average group 1 cost =  635.2677705977383
2013  average group 2 cost =  1271.5228534903704
observed difference =  636.2550828926321
95% confidence interval =  [-18.9549244   19.39241837]
mean diff =  0.08011017841441544
error diff =  9.8420642653729
p value =  0.0
Ttest_indResult(statistic=-67.26310364704644, pvalue=0.0)
Ttest_indResult(statistic=-89.12023621284146, pvalue=0.0)

In [94]:
cost_compare('2013', 'ZSMHC', 'FMTINCRELAMICAT', '7')

group 1 count =  19998
group 2 count =  40099
2013  average group 1 cost =  1636.900490049005
2013  average group 2 cost =  892.8685253996359
observed difference =  -744.031964649369
95% confidence interval =  [-16.68228446  16.38070766]
mean diff =  0.009916780167131605
error diff =  8.496660403967356
p value =  0.0
Ttest_indResult(statistic=94.7481827714897, pvalue=0.0)
Ttest_indResult(statistic=82.2942016939319, pvalue=0.0)

In 2013, the lowest income group paid on average $636 less than other income groups and the highest income group paid on average $744 more than other income groups. The p-values are zero.